<% content_for(:title, t('.title')) %>
<div class="user_session">
  <div class="row contact container">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="section-title">
      <h1>ユーザー登録</h1>
    </div>
      <%= form_with model: @user, local: true do |f| %>
        <div class="food_create_form">
          <label class="food_create_label">
              <%= f.text_field :name, placeholder: "お名前" %>
          </label>
          <%= render 'shared/error_messages', object: f.object, text: :name %>
        </div>
        <div class="food_create_form">
          <label class="food_create_label">
            <%= f.text_field :email, placeholder: "メールアドレス" %>
          </label>
          <%= render 'shared/error_messages', object: f.object, text: :email %>
        </div>
        <div class="food_create_form">
          <label class="food_create_label text-center">
            <%= f.text_field :password, placeholder: "パスワード" %>
          </label>
          <%= render 'shared/error_messages', object: f.object, text: :password %>
        </div>
        <div class="food_create_form">
          <label class="food_create_label">
              <%= f.text_field :password_confirmation, placeholder: "パスワード確認" %>
          </label>
          <%= render 'shared/error_messages', object: f.object, text: :password_confirmation %>
        </div>
          <%= render 'shared/btn', f: f, text: '新規登録' %>
      <% end %>
      <div class='contact-text-bottom'>
        <%= link_to 'ログインページへ', login_path, class: 'contact-text-user' %>
      </div>
    </div>
  </div>
</div>