<div class="col-lg-6" data-toggle="modal" data-target="#exampleModal">
  <%= link_to main_path(main), class: "card mx-auto mb-5 food-card", remote: true do %>
    <% if main.image.attached? %>
      <%= image_tag main.image %>
    <% else %>
      <%= image_pack_tag("media/images/noimage.jpg") %>
    <% end %>
    <div class="card-body">
      <p><%= main.name %></p>
      <p>店舗名：<%= main.stores_i18n %></p>
      <p>炭水化物：<%= main.sugar %></p>
      <p>脂質：<%= main.lipid %></p>
      <p>塩分：<%= main.salt %></p>
      <p>カロリー：<%= main.calorie %></p>
    </div>
  <% end %>
</div>

