<% content_for(:title, t('.title')) %>
<div id="loading" class="loading active">
      <span>L</span>
      <span>O</span>
      <span>A</span>
      <span>D</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
</div>

<% if @sugar && @noodle %>
  <div class="food_combination" id='js-tab'>
    <div class="food_select container" id='js-normalselect'>
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.plus_sugar %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container" id='js-normalselect'>
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.plus_sugar%>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @lipid && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質25g以下の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.plus_lipid %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @lipid && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質25g以下の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.plus_lipid %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @salt && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">塩分3g以下の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @salt && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">塩分3g以下の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @sugar && @noodle %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下、脂質25g以下の組み合わせ</p> 
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.plus_sugar && food.plus_lipid  %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @sugar && @rice %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下、脂質25g以下の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.plus_sugar && food.plus_lipid %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @lipid && @salt && @noodle %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質25g以下、塩分3g以下の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.plus_lipid && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @lipid && @salt && @rice %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質25g以下、塩分3g以下の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.plus_lipid && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @sugar && @salt && @noodle %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下、塩分3g以下の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.plus_sugar && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
       <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @sugar && @salt && @rice %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下、塩分3g以下の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.plus_sugar && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @sugar && @lipid && @salt && @noodle %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下、脂質25g以下、塩分3g以下の組み合わせ</p> 
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.plus_sugar && food.plus_lipid && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

<% elsif @sugar && @lipid && @salt && @rice %>
  <div class="food_combination">
    <div class="food_select container" id='js-normalselect' style="display: block">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物100g以下、脂質25g以下、塩分3g以下の組み合わせ</p>  
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.plus_sugar && food.plus_lipid && food.plus_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
<% end %>

<div id="js-scroll-fadein" class="js-scroll-fadein arrow normal"></div>  
<%= javascript_pack_tag 'home/food' %>

