<% content_for(:title, t('.title')) %>
<% if @sugar && @component_params.size == 1 && @noodle %> 
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物101g以上の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.overdose_sugar %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @component_params.size == 1 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物101g以上の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.overdose_sugar %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
       </div>
       <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @lipid && @component_params.size == 1 && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.overdose_lipid %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @lipid && @component_params.size == 1 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>  
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.overdose_lipid %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @salt && @component_params.size == 1 && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %>
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && food.overdose_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @salt && @component_params.size == 1 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">塩分3.1g以上の組み合わせ</p>    
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && food.overdose_salt %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @lipid && @component_params.size == 2 && @noodle %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物101g以上、脂質26g以上の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && (food.overdose_sugar || food.overdose_lipid)  %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @lipid && @component_params.size == 2 && @rice %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物101g以上、脂質26g以上の組み合わせ</p>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && (food.overdose_sugar || food.overdose_lipid)  %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @lipid && @salt && @component_params.size == 2 && @noodle  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上、塩分3.1g以上の組み合わせ</p>  
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && (food.overdose_lipid || food.overdose_salt)  %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @lipid && @salt && @component_params.size == 2 && @rice  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">脂質26g以上、塩分3.1g以上の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && (food.overdose_lipid || food.overdose_salt)  %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
       <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @salt && @component_params.size == 2 && @noodle  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物101g以上、塩分3.1g以上の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && (food.overdose_sugar || food.overdose_salt)  %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
       <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @salt && @component_params.size == 2 && @rice  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">糖質101g以上、塩分3.1g以上の組み合わせ</p>
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && (food.overdose_sugar || food.overdose_salt)  %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @lipid && @salt && @noodle  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物101g以上、脂質26g以上、塩分3.1g以上の組み合わせ</p> 
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'noodle' && (food.overdose_sugar || food.overdose_lipid || food.overdose_salt) %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>

<% elsif @sugar && @lipid && @salt && @rice  %>
  <div class="food_combination" id='tab'>
    <div class="food_select container">
      <%= render 'button' %> 
      <div class="food_combi_component_text_inner">
        <p class="food_combi_ngtext">炭水化物101g以上、脂質26g以上、塩分3.1g以上の組み合わせ</p>   
      </div>
      <div class="js_contain">
        <% @foods.each do |food| %>
          <% if food.main.genre == 'rice' && (food.overdose_sugar || food.overdose_lipid || food.overdose_salt) %>
            <div class="food_combi_contain">
              <%= render 'details', food: food %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %> 
    </div>
  </div>
<% end %>

<div id="js-scroll-fadein" class="js-scroll-fadein arrow overdose"></div>  
<%= javascript_pack_tag 'home/ng' %>