<div class="food_create_form">
  <label class="food_create_label food_create_label">
    <%= f.text_field :name, placeholder: place, :value => "#{component.name if !component.nil?}" %>
  </label>
  <%= render 'shared/error_messages', object: f.object, text: :name %>
</div>
<div class="food_create_form">
  <label class="food_create_label food_create_label">
    <%= f.text_field :calorie, placeholder: "カロリー", :value => "#{component.calorie if !component.nil?}" %>
  </label>
    <span>cal</span>
    <%= render 'shared/error_messages', object: f.object, text: :calorie %>
</div>
<div class="food_create_form">
  <label class="food_create_label food_create_label">
    <%= f.text_field :sugar, placeholder: "炭水化物", :value => "#{component.sugar if !component.nil?}" %>
  </label>
    <span>g</span>
    <%= render 'shared/error_messages', object: f.object, text: :sugar %>
</div>
<div class="food_create_form">
  <label class="food_create_label food_create_label">
    <%= f.text_field :lipid, placeholder: "脂質", :value => "#{component.lipid if !component.nil?}" %>
  </label>
    <span>g</span>
    <%= render 'shared/error_messages', object: f.object, text: :lipid %>
</div>
<div class="food_create_form">
  <label class="food_create_label food_create_label">
    <%= f.text_field :salt, placeholder: "塩分", :value => "#{component.salt if !component.nil?}" %>
  </label>
    <span>g</span>
    <%= render 'shared/error_messages', object: f.object, text: :salt %>
</div>
<div class="food_create_form">
  <label class="food_create_label">
    <%= f.select :stores, options_for_select(target.stores_i18n.invert), {prompt: "#{component.nil? ? '店舗名を選択してください' : component.stores_i18n}"}, class: "food_create_select" %>
  </label>
</div>
