<% content_for(:title, t('.title')) %>
<div class="food_top">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-sm-5 show_box">
        <%= render 'shared/active_storage', target: @main %>
      </div>
      <div class="col-sm-7 show_item_box">
        <p>食品名：<%= @main.name %></p>
        <p>店舗名：<%= @main.stores_i18n %></p>
        <p>炭水化物：<%= @main.sugar %>g</p>
        <p>脂質：<%= @main.lipid %>g</p>
        <p>塩分：<%= @main.salt %>g</p>
        <p>カロリー：<%= @main.calorie %>cal</p>
      </div>
      <div class="top-bottom-login-btn mt-5">
        <%= link_to '組み合わせを追加する', new_main_path(name: @main.name), class: 'btn-login-shadow'  %>
      </div>
    </div>
    <p class="show_margin_text">組み合わせされている食品</p>
    <% unless @main.subs.empty? %>
      <div class="row">
        <% @main.subs.each do |sub| %>
          <div class="col-sm-6">
              <div class="card mx-auto mb-5 food-card modal-body main_card_text_show_box">
                <%= render 'shared/active_storage', target: sub %>
                <div class="card-body">
                  <p><%= sub.name %></p>
                  <p>糖質：<%= sub.sugar %>g</p>
                  <p>脂質：<%= sub.lipid %>g</p>
                  <p>塩分：<%= sub.salt %>g</p>
                  <p>カロリー：<%= sub.calorie %>cal</p>
                  <p>店舗名：<%= sub.stores_i18n %></p>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>この食品との組み合わせはありません</p>
    <% end %>
  </div>
</div>