<% content_for(:title, t('.title')) %>  
  <div class="food_top">
    <div class="container">
      <div id="mask" class="hidden"></div>
      <%= render 'shared/component_btn', url: mains_path %>
      <%= paginate @mains %> 
      <div class="row">
        <% @mains.each do |main| %>
        <div class="col-lg-6" data-toggle="modal" data-target="#exampleModal">
          <%= link_to main_path(main), class: "card mx-auto mb-5 food-card", remote: true do %>
            <%= render 'shared/active_storage', target: main %>
            <div class="card-body">
              <p><%= main.name %></p>
              <p>店舗名：<%= main.stores_i18n %></p>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <div id="modal" class="hidden"></div>
      <%= paginate @mains %> 
    </div>
  </div>