<% content_for(:title, t('.title')) %>  
  <div class="food_top">
    <div class="container">
      <div id="mask" class="hidden"></div>
      <%= render 'search_form', url: mains_path %> 
      <div class="row infinity_contain">
        <% @mains.each do |main| %>
        <div class="col-lg-6 infinity_page main_bottom" data-toggle="modal" data-target="#exampleModal">
          <%= link_to main_path(main), class: "card mx-auto mb-5 food-card main_card_text_box", remote: true do %>
            <%= render 'shared/active_storage', target: main %>
            <div class="card-body">
              <p><%= main.name %></p>
              <p>コンビニ名：<%= main.stores_i18n %></p>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <div id="modal" class="hidden"></div>
      <%== pagy_nav(@pagy) %> 
    </div>
  </div>

<div id="js-scroll-fadein" class="js-scroll-fadein arrow normal"></div>    
<%= javascript_pack_tag 'home/main' %>
