<% content_for(:title, t('.title')) %>
<div class="food_create" style="background-color: #F0E5CF;">
  <%= form_with model: @main_sub_form, url: mains_path, id: 'js-form' do |main| %>
    <div class="container main_create_container">
    <div class="food_create_inner d-md-flex justify-content-center">
      <div class="food_create_main">
          <h2 class="food_create_title">メイン</h2>
          <div class="food_create_form_box p-4">
          <% if @main_data.nil? %>
            <div class="food_create_row row">
              <%= render 'form_img', main: main %>
            </div>
          <% else %>
          <div class="food_create_select_img text-center">
            <%= render 'shared/active_storage', target: @main_data %>
          </div>
            <div class="food_create_row row" style='display: none'>
              <%= render 'form_img', main: main %>
            </div>
            <% end %>
            <p class='main_submit_text'><span class='main_submit'>*</span>は入力必須項目です</p>
            <div class="main_create_form">
                <%= main.text_field :name, value: "#{@main_data.name if !@main_data.nil?}", readonly: @main_data, id: 'js-main-name', class: 'main_create_input' %>
              <label>メイン食品名</label>
            </div>
            <div class="main_create_form">
                <%= main.text_field :calorie, value: "#{@main_data.calorie if !@main_data.nil?}", readonly: @main_data, id: 'js-main-calorie', class: 'main_create_input' %>
              <label>カロリー</label>
              <span>cal</span>
            </div>
            <div class="main_create_form">
                <%= main.text_field :sugar, value: "#{@main_data.sugar if !@main_data.nil?}", readonly: @main_data, id: 'js-main-sugar', class: 'main_create_input' %>
              <label>炭水化物</label>
              <span>g</span>
            </div>
            <div class="main_create_form">
                <%= main.text_field :lipid, value: "#{@main_data.lipid if !@main_data.nil?}", readonly: @main_data, id: 'js-main-lipid', class: 'main_create_input' %>
              <label>脂質</label>
              <span>g</span>
            </div>
            <div class="main_create_form">
                <%= main.text_field :salt, value: "#{@main_data.salt if !@main_data.nil?}", readonly: @main_data, id: 'js-main-salt', class: 'main_create_input' %>
              <label>塩分</label>
              <span>g</span>
            </div>
            <div class="main_create_form">
              <label class="food_create_label">
                <%= main.select :stores, options_for_select(Main.stores_i18n.invert), {prompt: "#{@main_data.nil? ? 'コンビニ名を選択' : @main_data.stores_i18n}"}, class: "main_create_input w-100", disabled: @main_data, id: 'js-main-store' %>
              </label>
            </div>
            <div class="main_create_form">
              <label class="food_create_label">
                <%= main.select :genre, options_for_select(Main.genres_i18n.invert), {prompt: "#{@main_data.nil? ? 'ジャンルを選択' : @main_data.genre_i18n}"}, class: "main_create_input w-100", disabled: @main_data, id: 'js-main-genre' %>
              </label>
            </div>
          </div>
      </div>
      <div class="food_combi_compo">×</div>
      <div class="food_create_sub">
        <%= main.fields_for :subs do |sub| %>
        <h2 class="food_create_title">プラス一品</h2>
        <div class="food_create_form_box p-4">
          <div class="input-form">
            <div class="food_create_row row">
              <div class="food_create_image_explanation col-lg-4">
                <p>画像形式: JPEG/JPG/PNG</p>
                <p>容量: 5MB以内</p>
              </div>
              <div class="input-form col-lg-8">
                <label class="d-block">
                  <span class="btn p-2 w-100 food_create_img_btn sub_create_span">
                    <i class="fas fa-camera-retro"></i> 画像を選択する(任意)
                    <%= sub.file_field :image, class: "form-control", style: "display:none", direct_upload: true %>
                  </span>
                </label>
                <div class="food_create_no_img_box text-center" style="display: block;" id= "js-sub-no-img"><%= image_pack_tag("media/images/noimage.jpg", class: 'food_create_no_img') %></div>
                <div id="js-sub-image" class="text-center"></div>
              </div>
              <div id='js-sub-error-message'></div>
            </div>
          </div>
            <p class='main_submit_text'><span class='main_submit'>*</span>は入力必須項目です</p>
            <div class="main_create_form">
              <%= sub.text_field :name, id: 'js-sub-name', class: 'main_create_input' %>
              <label>サブ食品名</label>
            </div>
            <div class="main_create_form">
              <%= sub.text_field :calorie, id: 'js-sub-calorie', class: 'main_create_input' %>
              <label>カロリー</label>
              <span>cal</span>
            </div>
            <div class="main_create_form">
              <%= sub.text_field :sugar, id: 'js-sub-sugar', class: 'main_create_input' %>
              <label>炭水化物</label>
              <span>g</span>
            </div>
            <div class="main_create_form">
              <%= sub.text_field :lipid, id: 'js-sub-lipid', class: 'main_create_input' %>
              <label>脂質</label>
              <span>g</span>
            </div>
            <div class="main_create_form">
              <%= sub.text_field :salt, id: 'js-sub-salt', class: 'main_create_input' %>
              <label>塩分</label>
              <span>g</span>
            </div>
          <div class="main_create_form">
            <label class="food_create_label">
              <%= sub.select :stores, options_for_select(Sub.stores_i18n.invert), {include_blank: 'コンビニ名を選択'}, class: "main_create_input w-100", id: 'js-sub-store' %>
            </label>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="input-group-append text-center">
      <%= main.submit '組み合わせを追加する', class: 'food_create_btn shadow w-40 text-white prime_btn, disabled_btn', id: 'js-main-btn' %>
    </div>
    <div id="js-main-load" style="display:none">
      <div class="main_load">
        <p>画像をアップロード中</p>
        <div class="loader">Loading...</div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= javascript_pack_tag 'home/preview' %>
