<% content_for(:title, t('.title')) %>
  <div class="food_top">
    <div class="container">
      <%= render 'shared/component_btn', url: subs_path %>
      <%= paginate @subs %> 
      <div class="row">
        <% @subs.each do |sub| %>
          <div class="col-lg-6" data-toggle="modal" data-target="#exampleModalLong">
            <div class="card mx-auto mb-5 food-card">
              <% if sub.image.attached? %>
                <%= image_tag sub.image %>
              <% else %>
                <%= image_pack_tag("media/images/noimage.jpg") %>
              <% end %>
              <div class="card-body">
                <p><%= sub.name %></p>
                <p>店舗名：<%= sub.stores_i18n %></p>
              <div class="top-bottom-login-btn">
                <%= link_to '組み合わせ食品', sub_path(sub), class: 'btn-login-shadow' %>
              </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @subs %> 
    </div>
  </div>