 <div class="inquiry">
  <div class="container">
    <h2 class="section-title">お問い合わせ内容</h2>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <%= form_with model: @inquiry, url: inquiry_path, local: true do |f| %>
            <div class="food_create_form">
              <label class="food_create_label">
                  <%= f.text_field :name, placeholder: "お名前" %>
              </label>
            </div>
            <div class="food_create_form">
              <label class="food_create_label">
                  <%= f.text_field :email, placeholder: "メールアドレス" %>
              </label>
            </div>
            <div class="form-group" style="margin: 0 auto; width: 90%;">
                <%= f.text_area :message, class: "form-control comment-area shadow-lg rounded", type: "text", placeholder: "お問合せ内容", rows: "5" %>
                <%= render 'shared/error_messages', object: f.object, text: :message %>
            </div>
            <div class="actions text-center topbtn">
              <%= f.submit '送信', class: "btn btn-square-shadow mt-5" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
 </div>